{% extends 'base.html' %}

{% block title %}2 page{% endblock %}


{% block h3%}2 page{% endblock %}



{% block content %}



<ul class="slider">
    <li>
        <input type="radio" id="slide1" name="slide" checked>
        <label for="slide1"></label>
        <img src="../static/img/second/4k4.jpg" alt="Panel 1">
    </li>
    <li>
        <input type="radio" id="slide2" name="slide">
        <label for="slide2"></label>
       <img src="../static/img/second/4k.jpg" alt="Panel 2">
    </li>
    <li>
        <input type="radio" id="slide3" name="slide">
        <label for="slide3"></label>
        <img src="../static/img/second/4k2.jpg" alt="Panel 3">
    </li>
    <li>
        <input type="radio" id="slide4" name="slide">
        <label for="slide4"></label>
        <img src="../static/img/second/4k3.jpg" alt="Panel 4">
    </li>
</ul>

<!-- Images from Craig Henry's Dribbble profile: http://dribbble.com/craighenry -->

{% endblock %}