<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки профиля</title>
</head>
<body>

<form action="/settings" method="post">
    <h2>Имя</h2>
    <input type="text" name="name" placeholder="Введите новое имя">
    <br>

    <h2>Пароль</h2>
    <input type="password" name="password" placeholder="Введите новый пароль">
    <br>

    <h2>Аватар</h2>
    <input type="image" name="img_url" placeholder="Новая ссылка на аватар">
    <br>
    <button type="submit">Обновить </button>


</form>


</body>
</html>